##################################
# Environment files (SECRETS)
##################################
.env
.env.*
application-local.yml
application-local.properties

##################################
# Maven / Java
##################################
target/
*.class
*.jar
*.war
*.ear

##################################
# Logs
##################################
*.log
logs/

##################################
# IDE files
##################################
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.springBeans
.apt_generated/

##################################
# OS files
##################################
.DS_Store
Thumbs.db

##################################
# Others
##################################
*.swp
*.swo
